.c1{
  font-size: 25px;
  padding-bottom:10px;
  font-family: 'Quicksand', sans-serif;
}
.c2{
  font-size: 15px;
  width: 350px;
  margin: 15px;

}
.c3{
  padding-top:20px;
  width: 350px;
  height: 300px;
}

.c4{
    width: 300px;
}
.c5{

  width: 200px;

}
.d1{
 font-size: 20px;
}
.d100{
  color:#1e90ff
}
.d101{
  color: #ffa801
}
.d102{
  color:#4b6584
}
.d103{

}
.d104{
  color: #EA2027
}
.d105{
  color: #67e6dc
}
.d106{
  color:#ffb8b8
}
.e1{
  font-weight: bold;
}
