.b1{
  margin-right: 50px;

}
.b2{
  width:730px;
}
.b3{
  margin-top: 10px;
}
.b4{
  font-weight: bold;
  font-size: 16px;
  margin-right:10px;
}
.b5{
  font-size: 15px;
}
.b6{
  font-size: 37px;

}
.b7{
  margin-bottom: 40px;
}
