.b1{
  margin-right: 50px;

}
.b2{
  height:35px;
  width:400px;
  border-style:  ridge;
  font-family: sans-serif;
}

.b3{
  margin-top: 10px;
}
.b4{
  font-weight: bold;
  font-size: 16px;
  margin-right:10px;
}
.b5{
   font-weight: bold;
   width:120px;
  background-color: #c0392b;
  color: white
}
.b5:hover{
    background-color:#0c2461;
      color: white
}
.b6{
  font-weight: bold;
  font-size: 42px;
font-family: 'Quicksand', sans-serif;
  color: #40407a

}
.b7{
  margin-bottom: 40px;
}
.b8{

  height:34px;
  width: 100px;
  background-color: #4a69bd;

  color: white;
  margin:5px;
}
.b8:hover{
  font-weight: bold;
  color: white;
  background-color: #2980b9
}
.b9{
  color: red;
}
.jumbotron{
  background-color: yellow;
}
